.row
  .col-11.mx-auto
    .card
      .row.g-0
        .col-6
          .p-3
            .ratio.ratio-4x3= room_type_image_tag(@room_type, :display)
        .col-6
          .card-body.p-3
            %h1.card-title.mb-4= @room_type.name
            .mb-3
              .text-muted.small.mb-1= RoomType.human_attribute_name(:capacity)
              .fw-semibold= "#{@room_type.capacity}名"
            .mb-3
              .text-muted.small.mb-1= RoomType.human_attribute_name(:base_price)
              .fw-semibold= number_to_currency(@room_type.base_price)
            .mb-3
              .text-muted.small.mb-1= RoomType.human_attribute_name(:description)
              .fw-semibold= simple_format(@room_type.description)

    .text-end.mt-4= link_to '予約へ進む', new_accommodation_room_type_reservation_path(@accommodation, @room_type), class: 'btn btn-primary'
