.row
  .col-11.mx-auto
    .card
      .row
        .col-6
          .p-3
            .ratio.ratio-4x3= accommodation_image_tag(@accommodation, :display)
        .col-6
          .card-body.p-3
            %h1.card-title.mb-4= @accommodation.name
            .mb-3
              .text-muted.small.mb-1= Accommodation.human_attribute_name(:prefecture)
              .fw-semibold= @accommodation.prefecture_text
            .mb-3
              .text-muted.small.mb-1= Accommodation.human_attribute_name(:address)
              .fw-semibold= @accommodation.address
            .mb-3
              .text-muted.small.mb-1= Accommodation.human_attribute_name(:phone_number)
              .fw-semibold= @accommodation.phone_number
            .mb-3
              .text-muted.small.mb-1= Accommodation.human_attribute_name(:accommodation_type)
              .fw-semibold= @accommodation.accommodation_type_text
            .mb-3
              .text-muted.small.mb-1= Accommodation.human_attribute_name(:description)
              .fw-semibold= simple_format(@accommodation.description)

.fs-2.mt-5.mb-5.text-center 部屋タイプ一覧

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th= RoomType.human_attribute_name(:name)
        %th= RoomType.human_attribute_name(:capacity)
        %th= RoomType.human_attribute_name(:base_price)
        %th= RoomType.human_attribute_name(:description)
    %tbody
      - @accommodation.room_types.default_order.each do |room_type|
        %tr
          %td= link_to room_type.name, accommodation_room_type_path(@accommodation, room_type)
          %td= "#{room_type.capacity}名"
          %td= number_to_currency(room_type.base_price)
          %td= truncate(room_type.description)
