%h1.fs-2.mb-3 宿泊施設詳細

.card
  .card-body
    = accommodation_image_tag(@accommodation, :display)
    %dl.row
      %dt.col-sm-3= Accommodation.human_attribute_name(:name)
      %dd.col-sm-9= @accommodation.name

      %dt.col-sm-3= Accommodation.human_attribute_name(:prefecture)
      %dd.col-sm-9= @accommodation.prefecture_text

      %dt.col-sm-3= Accommodation.human_attribute_name(:address)
      %dd.col-sm-9= @accommodation.address

      %dt.col-sm-3= Accommodation.human_attribute_name(:phone_number)
      %dd.col-sm-9= @accommodation.phone_number

      %dt.col-sm-3= Accommodation.human_attribute_name(:accommodation_type)
      %dd.col-sm-9= @accommodation.accommodation_type_text

      %dt.col-sm-3= Accommodation.human_attribute_name(:description)
      %dd.col-sm-9= simple_format(@accommodation.description)

      %dt.col-sm-3= Accommodation.human_attribute_name(:published)
      %dd.col-sm-9= @accommodation.published? ? "#{t('general.public')}" : "#{t('general.private')}"

.mt-3.d-flex.justify-content-betweenaiteiruheyasuu
  = link_to t('general.edit'), edit_administrators_accommodation_path(@accommodation), class: 'btn btn-primary'
  = button_to t('general.destroy'), administrators_accommodation_path(@accommodation), method: :delete, data: { turbo_confirm: t('confirm.destroy') }, class: 'btn btn-outline-danger'

%h2.fs-3.mt-5.mb-3 客室タイプ一覧

.d-flex.justify-content-end.mb-3
  = link_to '客室タイプを追加', new_administrators_accommodation_room_type_path(@accommodation), class: 'btn btn-success'

- if @accommodation.room_types.any?
  %table.table.table-striped
    %thead
      %tr
        %th= RoomType.human_attribute_name(:name)
        %th= RoomType.human_attribute_name(:capacity)
        %th= RoomType.human_attribute_name(:base_price)
    %tbody
      - @accommodation.room_types.each do |room_type|
        %tr
          %td= link_to room_type.name, administrators_accommodation_room_type_path(@accommodation, room_type)
          %td #{room_type.capacity}名
          %td= number_to_currency(room_type.base_price)
- else
  %p.text-muted 客室タイプが登録されていません
