%h1.fs-2.mb-3 予約詳細

.card
  .card-body
    %dl.row
      %dt.col-3= Accommodation.human_attribute_name(:name)
      %dd.col-9= @reservation.room_type.accommodation.name

      %dt.col-3= Reservation.human_attribute_name(:check_in_date)
      %dd.col-9= l(@reservation.check_in_date)

      %dt.col-3= Reservation.human_attribute_name(:nights)
      %dd.col-9 #{@reservation.nights}泊

      %dt.col-3= t('reservation.check_out_date')
      %dd.col-9= l(@reservation.check_in_date + @reservation.nights.days)

      %dt.col-3= User.human_attribute_name(:email)
      %dd.col-9= @reservation.user.email

      %dt.col-3= RoomType.human_attribute_name(:name)
      %dd.col-9= @reservation.room_type.name

      %dt.col-3= Reservation.human_attribute_name(:adults)
      %dd.col-9 #{@reservation.adults}名

      %dt.col-3= Reservation.human_attribute_name(:children)
      %dd.col-9 #{@reservation.children}名

      %dt.col-3= Reservation.human_attribute_name(:total_amount)
      %dd.col-9= number_to_currency(@reservation.total_amount)

      %dt.col-3= Reservation.human_attribute_name(:status)
      %dd.col-9= @reservation.status_text

.mt-3= link_to t('general.edit'), edit_administrators_reservation_path(@reservation), class: 'btn btn-primary'
